* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

.header-hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section {
    width: 75vw;
}

.header {
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 100px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 18px;
}

.right-links a {
    text-decoration: none;
    color: #E5E7EB;
}


.logo {
    font-weight: 900;
}

.hero {
    display: flex;
    padding-bottom: 50px;
    gap: 30px;
}

.hero .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 40px;
}

.hero button {
    padding: 6px 24px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    align-self: flex-start;
}

.hero img {
    flex: 1;
    width: 300px;
    height: auto;
}